.button {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  &:disabled {
    transform: scale(1);
    cursor: default;
  }
}

.button_dark {
  color: #ffffff;
  background: #242424;

  &:disabled {
    background: #8b8b8b;
    color: #b0b0b0;
  }
}
