.main-page {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    @media (max-width: 620px) {
      flex-direction: column-reverse;
    }

    .search-bar-container {
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }

    .error-button {
      margin-left: auto;
    }
  }

  .loading {
    padding-bottom: 20px;
  }
}
