$background-light: #ffffff;
$background-dark: #242424;
$text-light: #000000;
$text-dark: #ffffff;

.light-theme {
  background-color: $background-light;
  color: $text-light;
}

.dark-theme {
  background-color: $background-dark;
  color: $text-dark;
}
